In [2]:
import numpy as np
import pandas as pd

In [5]:
ary1 = [[0.00008053, 0.00632823, 0.9849,     0.00869126],
        [0.18283638, 0.01720474, 0.15397713, 0.6459817 ],
        [0.00001154, 0.9997559,  0.00002661, 0.0002059 ],
        [0.00013894, 0.0006666,  0.0437906,  0.9554038 ],
        [0.00007402, 0.00019454, 0.00037282, 0.9993587 ],
        [0.22130862, 0.00587162, 0.0376923,  0.73512757],
        [0.00008973, 0.01520623, 0.00304951, 0.9816545 ],
        [0.00296272, 0.00005039, 0.00802642, 0.98896044],
        [0.00569498, 0.01379992, 0.00099703, 0.97950804],
        [0.01847019, 0.02931657, 0.00009501, 0.9521182 ]]
ary = np.array(ary1)

In [12]:
#print(np.hsplit(ary, 4)[0])
res = np.hsplit(ary, 4)
Black = res[0]
Mg = res[1]
Moth = res[2]
Oil = res[3]
img = [1,2,3,4,5,6,7,8,9,10]

In [22]:
dict = {
    "Image": img,
    "Black": Black.flatten(),
    "Mg": Mg.flatten(),
    "Moth": Moth.flatten(),
    "Oil": Oil.flatten()
}

In [23]:
#np.reshape(Black,(1,10))
Black.flatten()

array([8.0530000e-05, 1.8283638e-01, 1.1540000e-05, 1.3894000e-04,
       7.4020000e-05, 2.2130862e-01, 8.9730000e-05, 2.9627200e-03,
       5.6949800e-03, 1.8470190e-02])

In [24]:
pd.DataFrame(dict)

   Image     Black        Mg      Moth       Oil
0      1  0.000081  0.006328  0.984900  0.008691
1      2  0.182836  0.017205  0.153977  0.645982
2      3  0.000012  0.999756  0.000027  0.000206
3      4  0.000139  0.000667  0.043791  0.955404
4      5  0.000074  0.000195  0.000373  0.999359
5      6  0.221309  0.005872  0.037692  0.735128
6      7  0.000090  0.015206  0.003050  0.981654
7      8  0.002963  0.000050  0.008026  0.988960
8      9  0.005695  0.013800  0.000997  0.979508
9     10  0.018470  0.029317  0.000095  0.952118